# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.rel

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib

# Object files
*.rel
*.o

# Executables
*.hex
*.ihx
*.lk
*.noi
*.map

# Debug files
*.lst
*.sym

# Service files (IDE, folders...)
.vscode
bin
build

# Project related
project
