
# EXESUFFIX is passed when cross-compiling Win32 on Linux
ifeq ($(OS),Windows_NT)
  EXESUFFIX 		:= .exe
else
  EXESUFFIX 		?=
endif

TPUT_STATUS := $(shell which tput > /dev/null; echo $$?)

ifeq ($(TPUT_STATUS),0)
GREEN := $(shell tput setaf 2)
RED := $(shell tput setaf 1)
MAGENTA := $(shell tput setaf 5)
RESET    := $(shell tput sgr0)
else
GREEN :=
MAGENTA :=
RESET :=
endif


# Rules for building suites
FRAMEWORK_DIR ?= ../../framework
SOURCES = $(wildcard $(FRAMEWORK_DIR)/*.c)
CFLAGS = -I$(FRAMEWORK_DIR)

MACHINE = z88dk-ticks$(EXESUFFIX) -w 30

define compile
	zcc +test -vn $(1) $(CFLAGS) $^ -o $@ $(2) -m
endef

define runtest
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting test $(RESET)"
	@$(MACHINE) -b msx $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " Test completed $(RESET)"
endef

define compile_rc2014
	zcc +rc2014 -vn $(1) $(CFLAGS) $^ -o $(@:_CODE.bin=.bin) $(2) -clib=new -subtype=basic -m
endef

define runtest_rc2014
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting rc2014/z80 test $(RESET)"
	@$(MACHINE) -pc 0x9000 $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " rc2014/z80 test completed $(RESET)"
endef

define compile_8080
	zcc +test -vn -clib=8080 $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_z180
	zcc +test -vn -clib=z180 $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_8085
	zcc +test -vn -clib=8085 $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_ez80_z80
	zcc +test -vn -clib=ez80_z80 $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_gbz80
	zcc +test -vn -clib=gbz80 $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_r2ka
	zcc +test -vn -clib=rabbit $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_r4k
	zcc +test -vn -clib=rabbit4k $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_kc160
	zcc +test -vn -clib=kc160 $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define compile_z80n
	zcc +test -vn -clib=z80n $(1) $(CFLAGS) $^ -o $@  $(2) -m
endef

define runtest_8080
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting 8080 test $(RESET)"
	@$(MACHINE) -m8080 $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " 8080 test completed $(RESET)"
endef

define runtest_8085
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting 8085 test $(RESET)"
	@$(MACHINE) -m8085 $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " 8085 test completed $(RESET)"
endef

define runtest_z180
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting z180 test $(RESET)"
	@$(MACHINE) -mz180 $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " z180 test completed $(RESET)"
endef

define runtest_gbz80
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting gbz80 test $(RESET)"
	@$(MACHINE) -mgbz80 $@
	@echo "$(GREEN)" `date +%H:%M:%S` " gbz80 test completed $(RESET)"
endef

define runtest_r2ka
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting Rabbit test $(RESET)"
	@$(MACHINE) -mr2ka $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " Rabbit test completed $(RESET)"
endef

define runtest_r4k
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting Rabbit4k test $(RESET)"
	@$(MACHINE) -mr4k $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " Rabbit4k test completed $(RESET)"
endef

define runtest_z80n
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting Z80N test $(RESET)"
	@$(MACHINE) -mz80n $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " Z80N test completed $(RESET)"
endef

define runtest_ez80_z80
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting ez80_z80 test $(RESET)"
	@$(MACHINE) -mez80_z80 $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " ez80_z80 test completed $(RESET)"
endef

define runtest_kc160
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting kc160 test $(RESET)"
	@$(MACHINE) -mkc160 $@ 
	@echo "$(GREEN)" `date +%H:%M:%S` " kc160 test completed $(RESET)"
endef
